<a asp-controller="Account" asp-action="Login">Login</a>
<a asp-controller="Account" asp-action="Index">Index</a>
<br />
<a asp-controller="Some" asp-action="Fuck">Fuck</a>
<a asp-controller="Some" asp-action="Index">Index</a>
<br />
<a asp-controller="Home" asp-action="Fuck">Fuck</a>
<a asp-controller="Home" asp-action="Index">Index</a>