@model CodeFood.Domain.Entities.ServiceItem

<div>
    <div>
        <p>@Model.Title</p>
    </div>
    <div>
        <img src="~/images/@Model.TitleImagePath" alt="image" />
    </div>
    <div>
        <p>@Model.Text</p>
    </div>
</div>